// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 160px;
    border: 1px black solid;
    background-color: #f6f6f6;
    margin-left: 85px;

    .form-border {
        width: 80%;
        height: 60%;
        background-color: #ffffff;
    }

    .comment-form {
        display: flex;
        flex-direction: column;

        .form-bottom {
            display: flex;
            text-align: center;
            justify-content: center;
        }
    }

    input {
        width: 90%;
    }



    button {
        background-color: #f9c666;
        width: 50px;
        height: 40px;
        border: 2px solid #ebba6a;
        border-radius: 5px;
        color: white;
    }
}