
// Project Build

.project-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 56%;
    margin-top: 15px;
    margin-bottom: 40px;
    
}

.project-form-head {
    display: flex;
    // align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    border: 1px lightgrey solid;
    border-style: solid solid none;
    padding: 120px 17px 9px 17px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f6f6f6;
    margin: 25px 25px 0px 25px;
    box-shadow: 0px 4px 5px lightgrey;


    .img-upload {
        margin: 50px;
    }

    .head-buttons {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;

        button {
            margin: 5px 4px;
            padding: 8px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px lightgrey solid;
            background-color: #f6f6f6;
        }

        button:hover {
            background-color: #e6e6e6;
        }
        .publish {
            background-color: #ea6c00;
            color: white;
        }
        .publish:hover {
            background-color: #d46a0d;
        }
    }
    
    
}


.project-form-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px lightgrey solid;
    border-style: solid solid none;
    margin: 0px 25px 0px 25px;
    height: 600px;
    padding: 20px 25px 60px 25px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    li {
        border: lightgrey 1px solid;
        border-radius: 6px;
        background-color: #f6f6f6;
        height: 142px;
        width: 102%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 85%;
            margin: 0px 10px
        }

        
        .img-upload {
            border: lightgrey 1px solid;
            width: 62%;
            border-radius: 5px;
            padding: 0px 0px;
            background-color: white;
            box-shadow: inset 0px 0px 5px lightgrey;
            color: #aaaaaa;
            font-size: 20px;
        }

        .body {
            margin-right: 48px;
            border: none;
            font-weight: 600;
        }

        .intro {
            height: 118px;
            border: lightgrey 1px solid;
            width: 35%;
            border-radius: 5px;
            padding: 0px 100px;
            background-color: white;
            box-shadow: inset 0px 0px 5px lightgrey;
        }

    }

}

// Project Submit

.submitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: blue 1px solid;
    margin: auto;
    width: 53%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 600px;

    .container {
        width: 100%;
        height: 100%;
        // border: red 1px dotted;
        margin-bottom: 9px;
        border-left: lightgrey 1px solid;
        border-right: lightgrey 1px solid;
        border-bottom: lightgrey 1px solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 9px;
        
        p {
            margin: 9px 12px;
        }
    }
}

.header {
    display: flex;
    border: 1px lightgrey solid;
    background-color: #f6f6f6;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 25px 25px 0px 25px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 5px lightgrey;

    span {
        margin: 9px 12px;

        button {
            margin: 5px 4px;
            padding: 8px;
            font-size: 14px;
            border-radius: 3px;
            border: 1px lightgrey solid;
            background-color: #f6f6f6;
        }
        button:hover {
            background-color: #e6e6e6;
        }
        .publish {
            background-color: #e86c00;
            color: white;

        }
        .publish:hover {
            background-color: #d46a0d;
        }
    }
}

.preview {
    display: flex;
    justify-content: space-evenly;
    background-color: #f6f6f6;
    border: lightgrey 1px solid;
    border-radius: 10px;
    height: 80%;
    // margin-bottom: 25px;
    margin: 0px 15px 25px 15px;

    label {
        height: 23px;
        margin: 15px;
        
        input {
            padding-left: 5px;
        }
    }


    select {
        margin: 15px;
        height: 23px;
    }
}

.add-step {
        margin: 5px 4px;
        padding: 8px;
        font-size: 14px;
        border-radius: 4px;
        border: 1px lightgrey solid;
        background-color: #f6f6f6;

    .add-step:hover {
        background-color: #e6e6e6;
    }
}
