
.project-splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 30px;
            margin: 30px 0px;
        }
        
        p {
            margin: 5px 0px;
        }

        button {
            margin-top: 15px;
            border-radius: 5px;
            border: none;
            background-color: #f08428;
            color: white;
            font-size: 17px;
            padding: 12px;
        }
    }
}

.modal-background {
    position: fixed;
    display: none;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    justify-content: center;
    // align-items: center;
    z-index: 8;
    height: 100vh;
    width: 100vw;
    background-color: rgba(53, 52, 52, 0.445);
}



.project-modal {
    // position: absolute;
    // top: 10%;
    // left: 38%;
    margin-top: 8%;
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    // padding: 50px 50px;
    height: 250px;
    width: 300px;

    input {
        border-left: none;
        border-right: none;
        border-top: 1px grey solid;
        border-bottom: 1px grey solid;
        height: 30px;
        width: 90%;
    }

    button {
        background-color: #e86c00;
        color: white;
        border: 1px #cf6000 solid;
        border-radius: 6px;
        padding: 10px 17px;
        font-size: 15px;
        font-weight: 500;
    }
}

.title-modal-background-active {
    display: flex;
}

.title-modal-active {
    display: flex;
}