
// Project Build

.project-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 56%;
    margin-top: 15px;
    margin-bottom: 40px;
    
}

.project-form-head {
    display: flex;
    margin: auto;
    // width: 56%;
    // align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    border: 1px lightgrey solid;
    border-style: solid solid none;
    padding: 120px 17px 9px 17px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f6f6f6;
    margin: 25px 0px 0px 0px;
    box-shadow: 0px 4px 5px lightgrey;


    .img-upload {
        margin: 50px;
    }

    .head-buttons {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;

        button {
            margin: 5px 4px;
            padding: 8px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px lightgrey solid;
            background-color: #f6f6f6;
        }

        button:hover {
            background-color: #e6e6e6;
        }
        .publish {
            background-color: #ea6c00;
            color: white;
        }
        .publish:hover {
            background-color: #d46a0d;
        }
    }
    
    
}


.project-form-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px lightgrey solid;
    // border-style: solid solid none;
    // margin: 0px 25px 0px 25px;
    height: auto;
    padding: 20px 25px 60px 25px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    button {
        width: 90px;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    li {
        border: lightgrey 1px solid;
        border-radius: 6px;
        background-color: #f6f6f6;
        height: 142px;
        width: 102%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .blurb-right {
            display: flex;
            height: 100%;
            width: 50%;
            justify-content: space-between;
            align-items: center;
        }

        .blurb-right:hover i:last-child {
            color: #7f7f7f;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 85%;
            margin: 0px 10px
        }

        
        .img-upload {
            border: lightgrey 1px solid;
            width: 50%;
            border-radius: 5px;
            padding: 0px 0px;
            background-color: white;
            box-shadow: inset 0px 0px 5px lightgrey;
            color: #aaaaaa;
            font-size: 20px;
        }

        .body {
            margin-right: 48px;
            border: none;
            font-weight: 600;

            a {
                text-decoration: none;
                color: #33338b;
                font-size: 14px;
            }
        }

        .intro {
            height: 118px;
            border: lightgrey 1px solid;
            width: 35%;
            border-radius: 5px;
            padding: 0px 100px;
            background-color: white;
            box-shadow: inset 0px 0px 5px lightgrey;
        }

        .symbols {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            margin-right: 15px;

            i {
                // display: none;
                color: #7f7f7f;
            }

            i:last-child{
                color: #7f7f7f00;
            }

            :first-child {
                font-size: 25px;
            }
        }

    }

}

// Project Submit

.submitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: blue 1px solid;
    margin: auto;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: auto;

    .container {
        width: 100%;
        height: 100%;
        // border: red 1px dotted;
        margin-bottom: 9px;
        border-left: lightgrey 1px solid;
        border-right: lightgrey 1px solid;
        border-bottom: lightgrey 1px solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 9px;
        
        p {
            margin: 9px 12px;
        }
    }
}

.header {
    display: flex;
    border: 1px lightgrey solid;
    background-color: #f6f6f6;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 25px 25px 0px 25px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 5px lightgrey;

    span {
        margin: 9px 12px;

        button {
            margin: 5px 4px;
            padding: 8px;
            font-size: 14px;
            border-radius: 3px;
            border: 1px lightgrey solid;
            background-color: #f6f6f6;
        }
        button:hover {
            background-color: #e6e6e6;
        }
        .publish {
            background-color: #e86c00;
            color: white;

        }
        .publish:hover {
            background-color: #d46a0d;
        }
    }
}

.preview {
    display: flex;
    justify-content: space-evenly;
    background-color: #f6f6f6;
    border: lightgrey 1px solid;
    border-radius: 10px;
    height: 80%;
    // margin-bottom: 25px;
    margin: 0px 15px 25px 15px;

    label {
        height: 23px;
        margin: 15px;
        
        input {
            padding-left: 5px;
        }
    }


    select {
        margin: 15px;
        height: 23px;
    }
}

.add-step {
        margin: 5px 4px;
        padding: 8px;
        font-size: 14px;
        border-radius: 4px;
        border: 1px lightgrey solid;
        background-color: #f6f6f6;

    .add-step:hover {
        background-color: #e6e6e6;
    }
}

.modal-background {
    position: absolute;
    display: none;
    top: 0%;
    left: 0%;
    z-index: 8;
    height: 100vh;
    width: 100vw;
    background-color: rgba(53, 52, 52, 0.445);
}



.project-modal {
    position: absolute;
    top: 10%;
    left: 38%;
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    // padding: 50px 50px;
    height: 250px;
    width: 300px;

    input {
        border-left: none;
        border-right: none;
        border-top: 1px grey solid;
        border-bottom: 1px grey solid;
        height: 30px;
        width: 90%;
    }

    button {
        background-color: #e86c00;
        color: white;
        border: 1px #cf6000 solid;
        border-radius: 6px;
        padding: 10px 17px;
        font-size: 15px;
        font-weight: 500;
    }
}

.title-modal-background-active {
    display: block;
}

.title-modal-active {
    display: flex;
}





