.login-page {
    background: image-url('workstation2.jpg');
    // position: fixed;
    min-width: 139%;
    min-height: 100%;
    background-size: 100%;
    // background-position-y: -500px;
    background-position: center;
    // background-repeat: no-repeat;
    display: flex;
    align-content: center;
    text-align: center;
    height: 900px;
}

.login-form {
    backdrop-filter: blur(8px);
    width: 399px;
    height: 91%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-left: 55px;
    padding-top: 81px;

    input {
        height: 40px;
        width: 356px;
        border-radius: 6px;
        font-size: 16px;
        margin: 9px 0px;
        border: 1px lightgrey solid;
        padding-left: 12px;
    }

    p { 
       margin-top: 15px;
       margin-bottom: 10px;
        color: white;
        font-size: 14px;
    }

    a {
        color: white;
    }

    button {
        background-color: #faac18;
        border: none;
        margin: 15px 0px;
        padding: 13px 157px;
        border-radius: 6px;
        color: white;
        font-size: 18px;
        width: auto;
        cursor: pointer;
    }

    .errors-list {
        background-color: #CE4127;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        width: 200px;
        // position: absolute;
        top: 217px;
        text-align: center;
        padding: 10px;
        margin-bottom: 15px;
    }

    .divider {
        color: white;

        .whitespace {
            height: 1px;
            width: 1px;
            border-top: white 1px solid;
            padding-left: 151px;
        }

        .or {
            padding: 11px;
            position: relative;
            top: -10px;      
        }
    }

    .guest {
        background-color: #faac18;
        border: none;
        padding: 13px 86px;
        border-radius: 6px;
        color: white;
        font-size: 18px;
        width: 200px;
        margin: 30px 0px;
        cursor: pointer;

    }
}
